<h1><a [routerLink]="['/']">PerfectPredict <span id="companyP">- a Forecast Service</span></a></h1>

<div>
  <br>
  <h2><u>Information</u></h2>
  <p>
    <a routerLink="about-us">
      About Us
    </a>
  </p>
  <p>
    <a routerLink="/our-services">
      Our Services
    </a>
  </p>
  <p>
    <a routerLink="/our-customers">
      Our Customers
    </a>
  </p>
  <br>
</div>


<div>
  <br>
  <h2><u>Forecast Example:</u></h2>
  <h4>Paris, Ontario</h4>
  <div>
    <p>
        {{ "Current Temperature: " + temp + " C"}}
    </p>
    <p>
        {{ "Current Weather: " + weatherMain}}
    </p>
    <p>
        {{ "Weather Description: " + weatherDesc}}
    </p>
    <p>
        {{ "Humidity: " + humidity + " %\n"}}
    </p>
    <p>
        {{ "Feels like: " + feels_like + " C \n"}}
    </p>
    <p>
        {{ "Pressure: " + pressure + " \n"}}
    </p>
    <p>
        {{ "Timezone: " + timezone + " \n"}}
    </p>
  </div>
</div>